<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Web</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/err.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/myimage.png')}}" type="image/x-icon">
</head>
<body>
    <div class="error">
        <h3>Network Problem
        </h3>
        <h2>
            Page couldn't found
        </h2>
        <p>404! Please</p>
        <div class="nav">
            <button onclick="window.location.pathname ='/' ">Try again</button>
        </div>
    </div>
</body>
</html>